body{
    background-color: lightgray;
}

#title{
    width: 100%;
    font-size: 30px;
    color: darkgreen;
    border: 1px solid black;
    margin: 5px;
    padding: 50px;
    text-align: center;
    background-color: bisque;
}

#menu{
    position: relative;
    background-color: lightskyblue;
    padding: 5px;
    display: inline;

}

p{
    font-size: 20px;
    color:   indigo;
    text-align: center;
}

.imagens{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
}

h2{
    font-size: 26px;
    color: black;
    text-align: center;
}

#iframes{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;  
}

a{
    color:darkred;
}